.version.be_safe /* version checker */
{
	color: #0000F7;
	background-color: #0885D1;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.9500000000007px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	width: 0.01px;/* should not cover content below */
}

#pslideshowu12508
{
	width: 0.01px;
	margin-left: -100px;
}

#slideshowu12508
{
	z-index: 4;
	width: 0.01px;
	height: 1596px;
	position: relative;
	margin-right: -10000px;
}

#u12512
{
	position: absolute;
	width: 1160px;
	height: 1596px;
	background-color: transparent;
}

#u12512popup
{
	z-index: 5;
}

#u12513
{
	z-index: 6;
	width: 1160px;
	height: 1596px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u12596
{
	z-index: 8;
	width: 1160px;
	height: 1596px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u12616
{
	z-index: 10;
	width: 1160px;
	height: 1596px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u12636
{
	z-index: 12;
	width: 1160px;
	height: 1596px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u12656
{
	z-index: 14;
	width: 1160px;
	height: 1596px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u12676
{
	z-index: 16;
	width: 1160px;
	height: 1596px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u12696
{
	z-index: 18;
	width: 1160px;
	height: 1596px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#safe
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 580px;
}

#u5473-4
{
	z-index: 51;
	width: 1475px;
	min-height: 251px;
	background-color: transparent;
	text-align: center;
	font-size: 150px;
	line-height: 180px;
	color: #FCEE21;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: fixed;
	top: 503px;
	left: -258px;
}

#u5473-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 251px;
	width: 1475px;
	margin: 0px;
}

#u5596
{
	z-index: 64;
	width: 268px;
	background-color: transparent;
	position: fixed;
	top: 1043px;
	left: 409px;
}

#pu1519
{
	width: 0.01px;
	margin-left: -258px;
}

#u1519
{
	z-index: 2;
	height: 7006px;
	background-color: #000000;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1519-bw
{
	z-index: 2;
	height: 7006px;
}

#u5164
{
	z-index: 3;
	height: 1596px;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	background: #FFFFFF url("../images/img_7388.jpg") no-repeat center center;
	background-size: cover;
}

#u5164-bw
{
	z-index: 3;
	margin-top: 1564px;
	height: 1596px;
}

#u2084-4
{
	z-index: 20;
	width: 1468px;
	min-height: 284px;
	background-color: transparent;
	text-align: center;
	font-size: 80px;
	line-height: 96px;
	color: #FFFFFF;
	font-family: europa, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 500px;
	left: 68px;
}

#u5166-4
{
	z-index: 24;
	width: 728px;
	min-height: 162px;
	background-color: transparent;
	line-height: 96px;
	text-align: center;
	font-size: 80px;
	color: #FCEE21;
	font-family: europa, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 5750px;
	left: 470px;
}

#u5173-7
{
	z-index: 28;
	width: 1679px;
	min-height: 321px;
	background-color: transparent;
	text-align: center;
	color: #FCEE21;
	font-family: europa, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 2032px;
}

#u5173-2,#u5173-3
{
	font-size: 80px;
	line-height: 96px;
}

#u5173-5
{
	font-size: 30px;
	line-height: 36px;
}

#u5334
{
	z-index: 35;
	width: 208px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 947px;
	left: 728px;
}

#u5346-4
{
	z-index: 37;
	width: 1260px;
	min-height: 79px;
	background-color: transparent;
	line-height: 60px;
	text-align: center;
	font-size: 50px;
	color: #FFFFFF;
	font-family: europa, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 3445px;
	left: 197px;
}

#u5358-4
{
	z-index: 41;
	width: 839px;
	min-height: 79px;
	background-color: transparent;
	line-height: 72px;
	text-align: left;
	font-size: 60px;
	color: #FF0000;
	font-family: europa, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4277px;
	left: 423px;
}

#u5358-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 79px;
	width: 839px;
	margin: 4277px -10000px 0px 0px;
}

#u5362-4
{
	z-index: 45;
	width: 637px;
	min-height: 79px;
	background-color: transparent;
	line-height: 72px;
	text-align: left;
	font-size: 60px;
	color: #FF0000;
	font-family: europa, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4507px;
	left: 524px;
}

#u5362-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 79px;
	width: 637px;
	margin: 4507px -10000px 0px 0px;
}

#u5358-4:hover p,#u5362-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

.js #u5473-4.ose_pre_init,.js #u2084-4.ose_pre_init,.js #u5346-4.ose_pre_init,.js #u5358-4.ose_pre_init,.js #u5362-4.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u5363
{
	z-index: 49;
	width: 202px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6151px;
	left: 742px;
}

#u5479-4
{
	z-index: 55;
	width: 155px;
	min-height: 33px;
	background-color: transparent;
	line-height: 26px;
	text-align: center;
	font-size: 22px;
	color: #FFFFFF;
	font-family: europa, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 6721px;
	left: 773px;
}

#u5479-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 155px;
	margin: 6721px -10000px 0px 0px;
}

#u5479-4:hover p
{
	color: #FCEE21;
	visibility: inherit;
}

#u5480-4
{
	z-index: 59;
	width: 155px;
	min-height: 30px;
	background-color: transparent;
	line-height: 26px;
	text-align: center;
	font-size: 22px;
	color: #FFFFFF;
	font-family: europa, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 6865px;
	left: 773px;
}

#u5480-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 155px;
	margin: 6865px -10000px 0px 0px;
}

#u5473-4:hover p,#u5480-4:hover p
{
	color: #FF0000;
	visibility: inherit;
}

#u10362
{
	z-index: 66;
	width: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 782px;
}

#u10365
{
	z-index: 68;
	width: 15px;
	height: 15px;
	background-color: #FCEE21;
	border-radius: 20px;
	position: relative;
}

#u10364
{
	z-index: 70;
	width: 15px;
	height: 15px;
	background-color: #FCEE21;
	border-radius: 20px;
	margin-top: 86px;
	position: relative;
}

#u10366
{
	z-index: 69;
	width: 15px;
	height: 15px;
	background-color: #FCEE21;
	border-radius: 20px;
	margin-top: 85px;
	position: relative;
}

#u10363
{
	z-index: 67;
	width: 15px;
	height: 15px;
	background-color: #FCEE21;
	border-radius: 20px;
	margin-top: 86px;
	position: relative;
}

#u10377
{
	z-index: 71;
	width: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3810px;
	left: 825px;
}

#u10380
{
	z-index: 73;
	width: 15px;
	height: 15px;
	background-color: #FCEE21;
	border-radius: 20px;
	position: relative;
}

#u10379
{
	z-index: 75;
	width: 15px;
	height: 15px;
	background-color: #FCEE21;
	border-radius: 20px;
	margin-top: 86px;
	position: relative;
}

#u10381
{
	z-index: 74;
	width: 15px;
	height: 15px;
	background-color: #FCEE21;
	border-radius: 20px;
	margin-top: 85px;
	position: relative;
}

#u10378
{
	z-index: 72;
	width: 15px;
	height: 15px;
	background-color: #FCEE21;
	border-radius: 20px;
	margin-top: 86px;
	position: relative;
}

#u10392
{
	z-index: 76;
	width: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5049px;
	left: 843px;
}

#u10395
{
	z-index: 78;
	width: 15px;
	height: 15px;
	background-color: #FCEE21;
	border-radius: 20px;
	position: relative;
}

#u10394
{
	z-index: 80;
	width: 15px;
	height: 15px;
	background-color: #FCEE21;
	border-radius: 20px;
	margin-top: 86px;
	position: relative;
}

#u10396
{
	z-index: 79;
	width: 15px;
	height: 15px;
	background-color: #FCEE21;
	border-radius: 20px;
	margin-top: 85px;
	position: relative;
}

#u10393
{
	z-index: 77;
	width: 15px;
	height: 15px;
	background-color: #FCEE21;
	border-radius: 20px;
	margin-top: 86px;
	position: relative;
}

#u12113
{
	z-index: 82;
	width: 82px;
	vertical-align: top;
	position: fixed;
	top: 3502px;
	left: -258px;
}

#u12113_states
{
	float: left;
	width: 82px;
	height: 180px;
	background: transparent url("../images/u12113_states.png") no-repeat 0px 0px;
}

#u12113:hover #u12113_states
{
	background: transparent url("../images/u12113_states-r.png") no-repeat 0px 0px;
}

#u12114
{
	z-index: 85;
	width: 82px;
	vertical-align: top;
	position: fixed;
	top: 4008px;
	left: 1136px;
}

#u12114_states
{
	float: left;
	width: 82px;
	height: 180px;
	background: transparent url("../images/u12114_states.png") no-repeat 0px 0px;
}

#u12114:hover #u12114_states
{
	background: transparent url("../images/u12114_states-r.png") no-repeat 0px 0px;
}

#u13391
{
	z-index: 87;
	width: 144px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1116px;
	left: 782px;
}

#u13406
{
	z-index: 89;
	width: 144px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4626px;
	left: 771px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

