.version.index /* version checker */
{
	color: #000012;
	background-color: #A9959F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	width: 0.01px;/* should not cover content below */
}

#pslideshowu8728
{
	width: 0.01px;
	margin-left: -100px;
}

#slideshowu8728
{
	z-index: 7;
	width: 0.01px;
	height: 1490px;
	position: relative;
	margin-right: -10000px;
}

#u8739
{
	position: absolute;
	width: 1160px;
	height: 1490px;
	background-color: transparent;
}

#u8739popup
{
	z-index: 8;
}

#u8740
{
	z-index: 9;
	width: 1160px;
	height: 1490px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-right: -10000px;
	position: relative;
}

#u8789
{
	z-index: 11;
	width: 1160px;
	height: 1490px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-right: -10000px;
	position: relative;
}

#u8816
{
	z-index: 13;
	width: 1160px;
	height: 1490px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-right: -10000px;
	position: relative;
}

#u12776
{
	z-index: 15;
	width: 1160px;
	height: 1490px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-right: -10000px;
	position: relative;
}

#u12801
{
	z-index: 17;
	width: 1160px;
	height: 1490px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-right: -10000px;
	position: relative;
}

#u12826
{
	z-index: 19;
	width: 1160px;
	height: 1490px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-right: -10000px;
	position: relative;
}

#u12851
{
	z-index: 21;
	width: 1160px;
	height: 1490px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-right: -10000px;
	position: relative;
}

#u12876
{
	z-index: 23;
	width: 1160px;
	height: 1490px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u10317
{
	z-index: 333;
	width: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 619px;
}

#u10319
{
	z-index: 337;
	width: 15px;
	height: 15px;
	background-color: #FFFF00;
	border-radius: 20px;
	position: relative;
}

#u10320
{
	z-index: 335;
	width: 15px;
	height: 15px;
	background-color: #FFFF00;
	border-radius: 20px;
	margin-top: 86px;
	position: relative;
}

#u10318
{
	z-index: 336;
	width: 15px;
	height: 15px;
	background-color: #FFFF00;
	border-radius: 20px;
	margin-top: 85px;
	position: relative;
}

#u10321
{
	z-index: 334;
	width: 15px;
	height: 15px;
	background-color: #FFFF00;
	border-radius: 20px;
	margin-top: 86px;
	position: relative;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 600px;
}

#u123-4
{
	z-index: 25;
	width: 1262px;
	min-height: 116px;
	background-color: transparent;
	font-size: 150px;
	line-height: 180px;
	color: #FCEE21;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: fixed;
	top: 342px;
	left: -567px;
}

#u123-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 116px;
	width: 1262px;
	margin: 0px;
}

#u123-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2850
{
	z-index: 358;
	width: 384px;
	background-color: transparent;
	margin-left: 351px;
	top: -919px;
	margin-bottom: -381px;
	position: relative;
}

#u13197-4
{
	z-index: 255;
	width: 106px;
	min-height: 196px;
	background-color: transparent;
	text-align: center;
	font-size: 150px;
	line-height: 180px;
	color: #FCEE21;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: fixed;
	top: 865px;
	left: -595px;
}

#u1471-7
{
	z-index: 97;
	width: 1634px;
	min-height: 290px;
	background-color: transparent;
	color: #FFFF00;
	font-weight: 700;
	left: -325px;
	top: -539px;
	margin-bottom: -324px;
	position: relative;
}

#u1471-3
{
	font-size: 60px;
	line-height: 72px;
	font-family: europa, sans-serif;
}

#u1471-5
{
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: europa, sans-serif;
}

#u13198-4
{
	z-index: 259;
	width: 135px;
	min-height: 196px;
	background-color: transparent;
	text-align: center;
	font-size: 150px;
	line-height: 180px;
	color: #FCEE21;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: fixed;
	top: 1088px;
	left: 1270px;
}

#pu4337
{
	width: 0.01px;
	margin-left: -6778px;
	margin-top: -171px;
}

#u4337
{
	z-index: 2;
	min-height: 1600.8005920324094px;
	background-color: #FCEE21;
	padding-bottom: 0px;
}

#u4337_position_content
{
	padding-top: 183px;
	padding-bottom: 228px;
	width: 100%;
}

#pu4428
{
	width: 0.01px;
	left: -13px;
	position: relative;
}

#u4428
{
	z-index: 366;
	width: 259px;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u4428:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 259px;
	min-height: 0px;
	margin: 9px -10000px 0px 0px;
}

#u1453
{
	z-index: 89;
	width: 435px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 406px;
}

#u2858-8
{
	z-index: 131;
	width: 1642px;
	min-height: 242px;
	background-color: transparent;
	font-weight: 700;
	left: -174px;
	margin-top: 219px;
	position: relative;
}

#u1471-2,#u2858-3
{
	font-size: 60px;
	line-height: 72px;
	font-family: europa, sans-serif;
	font-style: italic;
}

#u2858-4
{
	font-size: 30px;
	line-height: 36px;
	font-family: europa, sans-serif;
	font-style: italic;
}

#u2858-6
{
	font-size: 30px;
	line-height: 36px;
	font-family: europa, sans-serif;
}

#u2858-2,#u2858-5
{
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
}

#pu4456
{
	width: 0.01px;
	left: 224px;
	margin-top: 152px;
	position: relative;
}

#u4456
{
	z-index: 157;
	width: 111px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 199px;
}

#u782
{
	z-index: 355;
	width: 567px;
	min-height: 328px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 135px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u4337-bw
{
	z-index: 2;
	min-height: 1600.8005920324094px;
	margin-top: 165px;
}

#u8555
{
	z-index: 6;
	min-height: 1570.5107142857137px;
	background-color: #00AEEF;
	padding-bottom: 0px;
}

#u8555_position_content
{
	margin-bottom: -158px;
	padding-top: 228px;
	width: 100%;
}

#u1487-5
{
	z-index: 112;
	width: 1050px;
	min-height: 204px;
	background-color: transparent;
	text-align: center;
	font-size: 80px;
	line-height: 96px;
	color: #FCEE21;
	font-weight: 700;
	left: 95px;
	position: relative;
}

#u1487-2
{
	font-family: europa, sans-serif;
	font-style: italic;
}

#u1487-3
{
	font-family: europa, sans-serif;
}

#ppu10435
{
	width: 0.01px;
	left: -111px;
	margin-top: 142px;
	position: relative;
}

#pu10435
{
	width: 0.01px;
	margin-right: -10000px;
}

#u10435
{
	z-index: 197;
	width: 160px;
	background-color: transparent;
	margin-left: 86px;
	position: relative;
}

#u10435_img
{
	margin-left: -14px;
	margin-top: -8px;
	margin-bottom: -8px;
}

#u4558-4
{
	z-index: 159;
	width: 246px;
	min-height: 111px;
	background-color: transparent;
	text-align: right;
	font-size: 50px;
	line-height: 60px;
	color: #FF0000;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	margin-top: 51px;
	position: relative;
}

#u4357
{
	z-index: 356;
	width: 560px;
	min-height: 319px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 449px;
}

#pu4435
{
	width: 0.01px;
	left: -135px;
	margin-top: 69px;
	position: relative;
}

#u4435
{
	z-index: 153;
	width: 270px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
}

#pu4348
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 541px;
}

#u4348
{
	z-index: 139;
	width: 435px;
	background-color: transparent;
	position: relative;
}

#u8482
{
	z-index: 183;
	width: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 212px;
	margin-top: 164px;
	position: relative;
}

#u8483
{
	z-index: 185;
	width: 15px;
	height: 15px;
	background-color: #000000;
	border-radius: 20px;
	position: relative;
}

#u8485
{
	z-index: 187;
	width: 15px;
	height: 15px;
	background-color: #000000;
	border-radius: 20px;
	margin-top: 86px;
	position: relative;
}

#u8486
{
	z-index: 186;
	width: 15px;
	height: 15px;
	background-color: #000000;
	border-radius: 20px;
	margin-top: 85px;
	position: relative;
}

#u8484
{
	z-index: 184;
	width: 15px;
	height: 15px;
	background-color: #000000;
	border-radius: 20px;
	margin-top: 86px;
	position: relative;
}

#u8555-bw
{
	z-index: 6;
	min-height: 1570.5107142857137px;
	margin-top: 1753px;
}

#u1354-4
{
	z-index: 55;
	width: 14px;
	min-height: 10px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 909px;
}

#u1469
{
	z-index: 105;
	width: 435px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 367px;
	left: 7071px;
}

#u1469_states
{
	float: left;
	width: 435px;
	height: 125px;
	background: transparent url("../images/u1469_states.png") no-repeat 0px 0px;
}

#u1469:hover #u1469_states
{
	background: transparent url("../images/u1469_states-r.png") no-repeat 0px 0px;
}

#u4448
{
	z-index: 155;
	width: 130px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1780px;
	left: 6370px;
}

#pu732-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 119px;
	margin-left: 7870px;
}

#u732-4
{
	z-index: 33;
	width: 350px;
	min-height: 34px;
	background-color: transparent;
	line-height: 26px;
	color: #FCEE21;
	font-size: 22px;
	font-family: europa, sans-serif;
	font-weight: 300;
	margin-left: 41px;
	position: relative;
}

#u732-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 350px;
	margin: 0px 0px 0px 41px;
}

#u732-4:hover p
{
	color: #ED1C24;
	visibility: inherit;
}

#u4422
{
	z-index: 364;
	width: 306px;
	background-color: transparent;
	opacity: 0.22;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=22)";
	filter: alpha(opacity=22);
	margin-left: 22px;
	margin-top: 1046px;
	position: relative;
}

#u4422:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 306px;
	min-height: 0px;
	margin: 1046px 0px 0px 22px;
}

#u4422_img
{
	padding-bottom: 1px;
}

#pu2433
{
	width: 0.01px;
	margin-left: 168px;
	margin-top: 130px;
}

#u2433
{
	z-index: 129;
	width: 150px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2433:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu1072-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 76px;
	margin-left: 160px;
}

#u1072-4
{
	z-index: 41;
	width: 143px;
	min-height: 31px;
	background-color: transparent;
	position: relative;
}

#u1073-4
{
	z-index: 45;
	width: 143px;
	min-height: 31px;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
}

#u10444
{
	z-index: 199;
	width: 336px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-top: 122px;
	position: relative;
}

#u5371
{
	z-index: 164;
	width: 485px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 2868px;
	left: 7061px;
}

#u5371_states
{
	float: left;
	width: 485px;
	height: 144px;
	background: transparent url("../images/u5371_states.png") no-repeat 0px 0px;
}

#u5371:hover #u5371_states
{
	background: transparent url("../images/u5371_states-r.png") no-repeat 0px 0px;
}

#u13141
{
	z-index: 245;
	width: 153px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 404px;
	left: 7410px;
}

#u13159
{
	z-index: 247;
	width: 144px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2926px;
	left: 7400px;
}

#u2500
{
	z-index: 307;
	width: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 7289px;
}

#u1451
{
	z-index: 311;
	width: 15px;
	height: 15px;
	background-color: #FCEE21;
	border-radius: 20px;
	position: relative;
}

#u1450
{
	z-index: 309;
	width: 15px;
	height: 15px;
	background-color: #FCEE21;
	border-radius: 20px;
	margin-top: 86px;
	position: relative;
}

#u1476
{
	z-index: 310;
	width: 15px;
	height: 15px;
	background-color: #000000;
	border-radius: 20px;
	margin-top: 85px;
	position: relative;
}

#u1475
{
	z-index: 308;
	width: 15px;
	height: 15px;
	background-color: #000000;
	border-radius: 20px;
	margin-top: 86px;
	position: relative;
}

#u2521
{
	z-index: 312;
	width: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1593px;
	left: 7321px;
}

#u2517
{
	z-index: 314;
	width: 15px;
	height: 15px;
	background-color: #000000;
	border-radius: 20px;
	position: relative;
}

#u2520
{
	z-index: 316;
	width: 15px;
	height: 15px;
	background-color: #000000;
	border-radius: 20px;
	margin-top: 86px;
	position: relative;
}

#u2518
{
	z-index: 315;
	width: 15px;
	height: 15px;
	background-color: #000000;
	border-radius: 20px;
	margin-top: 85px;
	position: relative;
}

#u2516
{
	z-index: 313;
	width: 15px;
	height: 15px;
	background-color: #000000;
	border-radius: 20px;
	margin-top: 86px;
	position: relative;
}

#pu1119
{
	width: 0.01px;
	padding-bottom: 3047px;
	margin-left: -452px;
	margin-top: -3255px;
}

#u1119
{
	z-index: 49;
	width: 75px;
	background-color: transparent;
	position: fixed;
	top: 1352px;
	left: -416px;
}

#u1327-4
{
	z-index: 51;
	width: 278px;
	min-height: 69px;
	background-color: transparent;
	text-align: center;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	font-family: europa, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: fixed;
	top: 1355px;
	left: -311px;
}

#u1488-4
{
	z-index: 117;
	width: 407px;
	min-height: 69px;
	background-color: transparent;
	text-align: center;
	font-size: 80px;
	line-height: 96px;
	color: #FCEE21;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: fixed;
	top: 3543px;
	left: 0px;
}

#u1490-4
{
	z-index: 121;
	width: 272px;
	min-height: 69px;
	background-color: transparent;
	text-align: center;
	font-size: 80px;
	line-height: 96px;
	color: #FCEE21;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: fixed;
	top: 3543px;
	left: 407px;
}

#u1492-4
{
	z-index: 125;
	width: 334px;
	min-height: 110px;
	background-color: transparent;
	text-align: center;
	font-size: 80px;
	line-height: 96px;
	color: #FCEE21;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: fixed;
	top: 3543px;
	left: 679px;
}

#u5393-4
{
	z-index: 175;
	width: 184px;
	min-height: 62px;
	background-color: transparent;
	line-height: 72px;
	text-align: right;
	font-size: 60px;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: fixed;
	top: 2658px;
	left: -113px;
}

#u11974
{
	z-index: 235;
	width: 498px;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: fixed;
	top: 4119px;
	left: 842px;
}

#u11974:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 498px;
	min-height: 0px;
	margin: 0px;
}

#u11984
{
	z-index: 237;
	width: 481px;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: fixed;
	top: 3313px;
	left: -452px;
}

#u11984:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 481px;
	min-height: 0px;
	margin: 0px;
}

#u13203-5
{
	z-index: 263;
	width: 106px;
	min-height: 196px;
	background-color: transparent;
	text-align: center;
	font-size: 150px;
	line-height: 180px;
	color: #FCEE21;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: fixed;
	top: 1982px;
	left: -449px;
}

#u13204-5
{
	z-index: 268;
	width: 135px;
	min-height: 196px;
	background-color: transparent;
	text-align: center;
	font-size: 150px;
	line-height: 180px;
	color: #FF0000;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: fixed;
	top: 2261px;
	left: 1261px;
}

#u13209-4
{
	z-index: 273;
	width: 106px;
	min-height: 196px;
	background-color: transparent;
	text-align: center;
	font-size: 150px;
	line-height: 180px;
	color: #FCEE21;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: fixed;
	top: 3167px;
	left: -98px;
}

#u13210-4
{
	z-index: 277;
	width: 135px;
	min-height: 196px;
	background-color: transparent;
	text-align: center;
	font-size: 150px;
	line-height: 180px;
	color: #FCEE21;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: fixed;
	top: 3555px;
	left: 1005px;
}

#u4407
{
	z-index: 360;
	width: 528px;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: fixed;
	top: 1600px;
	left: 956px;
}

#u4407:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 528px;
	min-height: 0px;
	margin: 0px;
}

#u4407_img
{
	padding-right: 57px;
}

#u4416
{
	z-index: 362;
	width: 441px;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: fixed;
	top: 2342px;
	left: -200px;
}

#u4416:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 441px;
	min-height: 0px;
	margin: 0px;
}

#u4416_img
{
	margin-top: -25px;
	margin-bottom: -25px;
}

#pu4390
{
	width: 0.01px;
	margin-left: -433px;
}

#u4390
{
	z-index: 5;
	min-height: 1743px;
	background-color: #FCEE21;
}

#u4390_position_content
{
	margin-bottom: -155px;
	padding-top: 283px;
	width: 100%;
}

#u785-4
{
	z-index: 37;
	width: 1222px;
	min-height: 108px;
	background-color: transparent;
	line-height: 96px;
	text-align: left;
	font-size: 80px;
	color: #FF0000;
	font-family: europa, sans-serif;
	font-weight: 700;
	left: 55px;
	position: relative;
}

#pu12939
{
	width: 0.01px;
	left: 211px;
	margin-top: 135px;
	position: relative;
}

#u12939
{
	z-index: 239;
	width: 111px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4374
{
	z-index: 357;
	width: 560px;
	min-height: 319px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 127px;
}

#pu1456
{
	width: 0.01px;
	left: -191px;
	margin-top: 152px;
	position: relative;
}

#u1456
{
	z-index: 91;
	width: 452px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 312px;
	left: 583px;
}

#u1486-5
{
	z-index: 107;
	width: 1160px;
	min-height: 174px;
	background-color: transparent;
	text-align: center;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 213px;
}

#u1486-2
{
	font-size: 60px;
	line-height: 72px;
}

#u1486-3
{
	font-size: 150px;
	line-height: 180px;
}

#u10902-4
{
	z-index: 384;
	width: 413px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	font-family: europa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 384px;
}

#u10902-4:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 49px;
	width: 413px;
	margin: 384px -10000px 0px 0px;
}

#u8497
{
	z-index: 323;
	width: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: 646px;
	margin-top: 128px;
	position: relative;
}

#u8499
{
	z-index: 325;
	width: 15px;
	height: 15px;
	background-color: #000000;
	border-radius: 20px;
	position: relative;
}

#u8500
{
	z-index: 327;
	width: 15px;
	height: 15px;
	background-color: #000000;
	border-radius: 20px;
	margin-top: 86px;
	position: relative;
}

#u8498
{
	z-index: 326;
	width: 15px;
	height: 15px;
	background-color: #FCEE21;
	border-radius: 20px;
	margin-top: 85px;
	position: relative;
}

#u8501
{
	z-index: 324;
	width: 15px;
	height: 15px;
	background-color: #FCEE21;
	border-radius: 20px;
	margin-top: 86px;
	position: relative;
}

#u4390-bw
{
	z-index: 5;
	min-height: 1743px;
}

#u5372
{
	z-index: 167;
	width: 432px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1322px;
	left: 738px;
}

#u5372_states
{
	float: left;
	width: 432px;
	height: 122px;
	background: transparent url("../images/u5372_states.png") no-repeat 0px 0px;
}

#u5372:hover #u5372_states
{
	background: transparent url("../images/u5372_states-r.png") no-repeat 0px 0px;
}

#u13170
{
	z-index: 249;
	width: 144px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1371px;
	left: 1087px;
}

#u10901-16
{
	z-index: 368;
	width: 388px;
	min-height: 147px;
	background-color: transparent;
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	font-family: europa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
}

#u10901-16:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 147px;
	width: 388px;
	margin: 71px -10000px 0px 0px;
}

#u10903-4
{
	z-index: 388;
	width: 610px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	font-family: europa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1521px;
	left: 1281px;
}

#u10903-4:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 49px;
	width: 610px;
	margin: 1521px -10000px 0px 0px;
}

#u10904-4
{
	z-index: 392;
	width: 377px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	font-family: europa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 1478px;
}

#u10904-4:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 49px;
	width: 377px;
	margin: 96px -10000px 0px 0px;
}

#pu12941-4
{
	width: 0.01px;
	padding-bottom: 807px;
	margin-left: -434px;
	margin-top: -1228px;
}

#u12941-4
{
	z-index: 241;
	width: 184px;
	min-height: 62px;
	background-color: transparent;
	line-height: 72px;
	text-align: right;
	font-size: 60px;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: fixed;
	top: 5133px;
	left: -100px;
}

#u13215-5
{
	z-index: 281;
	width: 106px;
	min-height: 196px;
	background-color: transparent;
	text-align: center;
	font-size: 150px;
	line-height: 180px;
	color: #FCEE21;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: fixed;
	top: 5464px;
	left: -132px;
}

#u13216-5
{
	z-index: 286;
	width: 135px;
	min-height: 196px;
	background-color: transparent;
	text-align: center;
	font-size: 150px;
	line-height: 180px;
	color: #FF0000;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: fixed;
	top: 5733px;
	left: 1005px;
}

#u13203,#u13204,#u13215,#u13216
{
	color: #000000;
}

#u11994
{
	z-index: 344;
	width: 285px;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: fixed;
	top: 5407px;
	left: -434px;
}

#u11994:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 285px;
	min-height: 0px;
	margin: 0px;
}

#u12004
{
	z-index: 346;
	width: 500px;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: fixed;
	top: 5122px;
	left: 960px;
}

#u12004:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 500px;
	min-height: 0px;
	margin: 0px;
}

#pu4340
{
	width: 0.01px;
	margin-left: -545px;
	margin-top: -3px;
}

#u4340
{
	z-index: 3;
	height: 1596px;
	background-color: #000000;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}

#u4340-bw
{
	z-index: 3;
	height: 1596px;
}

#u266-4
{
	z-index: 29;
	width: 1504px;
	min-height: 279px;
	background-color: transparent;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	text-align: center;
	font-size: 80px;
	line-height: 106px;
	color: #FCEE21;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 347px;
	left: 330px;
}

#u1459
{
	z-index: 93;
	width: 547px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1173px;
	left: 841px;
}

#u5373
{
	z-index: 170;
	width: 524px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1186px;
	left: 845px;
}

#u5373_states
{
	float: left;
	width: 524px;
	height: 120px;
	background: transparent url("../images/u5373_states.png") no-repeat 0px 0px;
}

#u5373:hover #u5373_states
{
	background: transparent url("../images/u5373_states-r.png") no-repeat 0px 0px;
}

#u8874
{
	z-index: 193;
	width: 669px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 546px;
	left: 775px;
}

#u8883
{
	z-index: 195;
	width: 393px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 666px;
	left: 912px;
}

.js #u732-4.ose_pre_init,.js #u266-4.ose_pre_init,.js #u8883.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u10528
{
	z-index: 229;
	width: 330px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1689px;
}

#u13177
{
	z-index: 251;
	width: 144px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1239px;
	left: 1244px;
}

#u8576
{
	z-index: 328;
	width: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1429px;
	left: 1098px;
}

#u8577
{
	z-index: 329;
	width: 15px;
	height: 15px;
	background-color: #FCEE21;
	border-radius: 20px;
	-webkit-transform: matrix(-1,0,0,-1,15,15);
	-ms-transform: matrix(-1,0,0,-1,15,15);
	transform: matrix(-1,0,0,-1,15,15);
	position: relative;
}

#u8578
{
	z-index: 331;
	width: 15px;
	height: 15px;
	background-color: #FCEE21;
	border-radius: 20px;
	-webkit-transform: matrix(-1,0,0,-1,15,15);
	-ms-transform: matrix(-1,0,0,-1,15,15);
	transform: matrix(-1,0,0,-1,15,15);
	margin-top: 86px;
	position: relative;
}

#u8579
{
	z-index: 332;
	width: 15px;
	height: 15px;
	background-color: #000000;
	border-radius: 20px;
	-webkit-transform: matrix(-1,0,0,-1,15,15);
	-ms-transform: matrix(-1,0,0,-1,15,15);
	transform: matrix(-1,0,0,-1,15,15);
	margin-top: 85px;
	position: relative;
}

#u8580
{
	z-index: 330;
	width: 15px;
	height: 15px;
	background-color: #000000;
	border-radius: 20px;
	-webkit-transform: matrix(-1,0,0,-1,15,15);
	-ms-transform: matrix(-1,0,0,-1,15,15);
	transform: matrix(-1,0,0,-1,15,15);
	margin-top: 86px;
	position: relative;
}

#pu4396
{
	width: 0.01px;
	padding-bottom: 2720px;
	margin-left: -544px;
	margin-top: -1962px;
}

#u4396
{
	z-index: 145;
	width: 1160px;
	background-color: transparent;
	position: fixed;
	top: 8072px;
	left: -23px;
}

#u10453
{
	z-index: 201;
	width: 116px;
	background-color: transparent;
	position: fixed;
	top: 7411px;
	left: 1310px;
}

#u10504
{
	z-index: 203;
	width: 116px;
	background-color: transparent;
	position: fixed;
	top: 7071px;
	left: 1005px;
}

#u10497
{
	z-index: 205;
	width: 116px;
	background-color: transparent;
	position: fixed;
	top: 7621px;
	left: 1005px;
}

#u10462
{
	z-index: 207;
	width: 116px;
	background-color: transparent;
	position: fixed;
	top: 7013px;
	left: 1344px;
}

#u10511
{
	z-index: 209;
	width: 116px;
	background-color: transparent;
	position: fixed;
	top: 6450px;
	left: 1094px;
}

#u10469
{
	z-index: 211;
	width: 116px;
	background-color: transparent;
	position: fixed;
	top: 6970px;
	left: -331px;
}

#u10483
{
	z-index: 213;
	width: 116px;
	background-color: transparent;
	position: fixed;
	top: 7534px;
	left: -544px;
}

#u10490
{
	z-index: 215;
	width: 116px;
	background-color: transparent;
	position: fixed;
	top: 7411px;
	left: 9px;
}

#u10476
{
	z-index: 217;
	width: 116px;
	background-color: transparent;
	position: fixed;
	top: 6403px;
	left: -434px;
}

#u10535
{
	z-index: 221;
	width: 189px;
	background-color: transparent;
	position: fixed;
	top: 8323px;
	left: 1005px;
}

#u12896
{
	z-index: 223;
	width: 189px;
	background-color: transparent;
	position: fixed;
	top: 8072px;
	left: 1368px;
}

#u13221-4
{
	z-index: 291;
	width: 106px;
	min-height: 196px;
	background-color: transparent;
	text-align: center;
	font-size: 150px;
	line-height: 180px;
	color: #FCEE21;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: fixed;
	top: 6666px;
	left: -331px;
}

#u13478-4
{
	z-index: 295;
	width: 106px;
	min-height: 196px;
	background-color: transparent;
	text-align: center;
	font-size: 150px;
	line-height: 180px;
	color: #FCEE21;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: fixed;
	top: 8225px;
	left: 158px;
}

#u13222-4
{
	z-index: 299;
	width: 135px;
	min-height: 196px;
	background-color: transparent;
	text-align: center;
	font-size: 150px;
	line-height: 180px;
	color: #FCEE21;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: fixed;
	top: 6785px;
	left: 1233px;
}

#u4399-6
{
	z-index: 147;
	width: 602px;
	min-height: 283px;
	background-color: transparent;
	text-align: center;
	font-size: 80px;
	line-height: 96px;
	color: #FCEE21;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	margin-left: 211px;
	top: -758px;
	margin-bottom: -288px;
	position: relative;
}

.js #u123-4.ose_pre_init,.js #u4399-6.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u13481-4
{
	z-index: 303;
	width: 135px;
	min-height: 196px;
	background-color: transparent;
	text-align: center;
	font-size: 150px;
	line-height: 180px;
	color: #FCEE21;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: fixed;
	top: 8654px;
	left: 721px;
}

#pu1462
{
	width: 0.01px;
	margin-left: 346px;
	margin-top: -273px;
}

#u1462
{
	z-index: 95;
	width: 445px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
}

#u5374
{
	z-index: 173;
	width: 443px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
}

#u5374_states
{
	float: left;
	width: 443px;
	height: 172px;
	background: transparent url("../images/u5374_states.png") no-repeat 0px 0px;
}

#u5374:hover #u5374_states
{
	background: transparent url("../images/u5374_states-r.png") no-repeat 0px 0px;
}

#u10519
{
	z-index: 219;
	width: 330px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 857px;
}

#pu10542
{
	width: 0.01px;
	padding-bottom: 320px;
	margin-left: -82px;
	margin-top: -157px;
}

#u10542
{
	z-index: 225;
	width: 189px;
	background-color: transparent;
	position: fixed;
	top: 9034px;
	left: -82px;
}

#u13184
{
	z-index: 253;
	width: 144px;
	background-color: transparent;
	position: fixed;
	top: 9077px;
	left: 698px;
}

#u12903
{
	z-index: 227;
	width: 189px;
	background-color: transparent;
	position: fixed;
	top: 9250px;
	left: -544px;
}

#u4395
{
	z-index: 4;
	min-height: 3892px;
	background-color: #FCEE21;
}

#u4337_align_to_page,#u8555_align_to_page,#u4390_align_to_page,#u4395_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
}

#u4395_position_content
{
	margin-top: -158px;
	padding-bottom: 31px;
	width: 100%;
}

#u2633
{
	z-index: 317;
	width: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: 636px;
	position: relative;
}

#u2634
{
	z-index: 318;
	width: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2637
{
	z-index: 320;
	width: 15px;
	height: 15px;
	background-color: #FCEE21;
	border-radius: 20px;
	position: relative;
}

#u2639
{
	z-index: 322;
	width: 15px;
	height: 15px;
	background-color: #FCEE21;
	border-radius: 20px;
	margin-top: 86px;
	position: relative;
}

#u2638
{
	z-index: 321;
	width: 15px;
	height: 15px;
	background-color: #000000;
	border-radius: 20px;
	margin-top: 85px;
	position: relative;
}

#u2636
{
	z-index: 319;
	width: 15px;
	height: 15px;
	background-color: #000000;
	border-radius: 20px;
	margin-top: 86px;
	position: relative;
}

#u1356-4
{
	z-index: 59;
	width: 341px;
	min-height: 97px;
	background-color: transparent;
	line-height: 96px;
	text-align: center;
	font-size: 80px;
	font-family: europa, sans-serif;
	font-weight: 700;
	left: 466px;
	margin-top: 69px;
	position: relative;
}

#u4379-4
{
	z-index: 141;
	width: 188px;
	min-height: 51px;
	background-color: transparent;
	line-height: 48px;
	text-align: left;
	font-size: 40px;
	font-family: europa, sans-serif;
	font-weight: 300;
	left: 555px;
	margin-top: 70px;
	position: relative;
}

#u8595
{
	z-index: 191;
	width: 228px;
	background-color: transparent;
	left: 522px;
	margin-top: 214px;
	position: relative;
}

#pu1357-10
{
	width: 0.01px;
	left: 149px;
	margin-top: 163px;
	position: relative;
}

#u1357-10
{
	z-index: 63;
	width: 975px;
	min-height: 397px;
	background-color: transparent;
	text-align: center;
	font-size: 80px;
	line-height: 96px;
	color: #000000;
	font-family: europa, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u8591-3
{
	z-index: 188;
	width: 9px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 199px;
	left: 139px;
}

#u12014
{
	z-index: 348;
	width: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: 640px;
	margin-top: 922px;
	position: relative;
}

#u12015
{
	z-index: 349;
	width: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12016
{
	z-index: 351;
	width: 15px;
	height: 15px;
	background-color: #000000;
	border-radius: 20px;
	position: relative;
}

#u12017
{
	z-index: 353;
	width: 15px;
	height: 15px;
	background-color: #000000;
	border-radius: 20px;
	margin-top: 86px;
	position: relative;
}

#u12018
{
	z-index: 352;
	width: 15px;
	height: 15px;
	background-color: #000000;
	border-radius: 20px;
	margin-top: 85px;
	position: relative;
}

#u12019
{
	z-index: 350;
	width: 15px;
	height: 15px;
	background-color: #000000;
	border-radius: 20px;
	margin-top: 86px;
	position: relative;
}

#u10924
{
	z-index: 338;
	width: 257px;
	background-color: transparent;
	left: 512px;
	margin-top: 259px;
	position: relative;
}

#u11916-4
{
	z-index: 231;
	width: 164px;
	min-height: 24px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	left: 562px;
	margin-top: 23px;
	position: relative;
}

#u6733-4
{
	z-index: 179;
	width: 168px;
	min-height: 41px;
	background-color: transparent;
	line-height: 36px;
	text-align: center;
	font-size: 30px;
	color: #000000;
	font-family: europa, sans-serif;
	font-weight: 700;
	left: 558px;
	margin-top: 433px;
	position: relative;
}

#u6733-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 168px;
	margin: 433px 0px 0px;
}

#u6733-4:hover p
{
	color: #FF0000;
	visibility: inherit;
}

#u11913-4
{
	z-index: 340;
	width: 111px;
	min-height: 37px;
	background-color: transparent;
	text-align: left;
	font-size: 22px;
	line-height: 26px;
	font-family: europa, sans-serif;
	font-weight: 700;
	left: 584px;
	margin-top: 101px;
	position: relative;
}

#u4395-bw
{
	z-index: 4;
	min-height: 3892px;
	margin-top: 160px;
}

#pu1358-4
{
	width: 0.01px;
	padding-bottom: 471px;
	margin-left: 152px;
	margin-top: -2312px;
}

#u1358-4
{
	z-index: 73;
	width: 406px;
	min-height: 207px;
	background-color: transparent;
	line-height: 180px;
	text-align: left;
	font-size: 150px;
	font-family: europa, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 11095px;
	left: 152px;
}

#u1359-4
{
	z-index: 77;
	width: 304px;
	min-height: 193px;
	background-color: transparent;
	line-height: 180px;
	text-align: left;
	font-size: 150px;
	font-family: europa, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 11095px;
	left: 571px;
}

#u1360-4
{
	z-index: 81;
	width: 410px;
	min-height: 200px;
	background-color: transparent;
	line-height: 180px;
	text-align: left;
	font-size: 150px;
	font-family: europa, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 11366px;
	left: 161px;
}

#u1363-4
{
	z-index: 85;
	width: 268px;
	min-height: 193px;
	background-color: transparent;
	line-height: 180px;
	text-align: left;
	font-size: 150px;
	font-family: europa, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 11373px;
	left: 578px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

