.version.reference /* version checker */
{
	color: #0000E9;
	background-color: #3C0577;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	width: 0.01px;/* should not cover content below */
}

#u11885
{
	z-index: 2;
	min-height: 4025.9px;
	background-color: #FCEE21;
	padding-bottom: 0px;
}

#u11885_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 100px;
	padding-bottom: 95px;
}

#ppu11888-4
{
	width: 0.01px;
	left: 120px;
	position: relative;
}

#pu11888-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 33px;
}

#u11888-4
{
	z-index: 9;
	width: 313px;
	min-height: 99px;
	background-color: transparent;
	text-align: left;
	font-size: 60px;
	line-height: 72px;
	font-family: europa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u11910-4
{
	z-index: 212;
	width: 98px;
	min-height: 32px;
	background-color: transparent;
	text-align: left;
	font-size: 22px;
	line-height: 26px;
	font-family: europa, sans-serif;
	font-weight: 700;
	margin-top: 88px;
	position: relative;
}

#u11937
{
	z-index: 3;
	width: 238px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 682px;
}

#pu11907-159
{
	width: 0.01px;
	left: 120px;
	margin-top: 152px;
	position: relative;
}

#u11907-159
{
	z-index: 13;
	width: 940px;
	min-height: 2404px;
	background-color: transparent;
	font-family: europa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u11962-40
{
	z-index: 172;
	width: 920px;
	min-height: 575px;
	background-color: transparent;
	font-family: europa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 2271px;
}

#u11965-4
{
	z-index: 216;
	width: 98px;
	min-height: 32px;
	background-color: transparent;
	text-align: left;
	font-size: 22px;
	line-height: 26px;
	font-family: europa, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2216px;
}

#u11971-4
{
	z-index: 5;
	width: 155px;
	min-height: 33px;
	background-color: transparent;
	line-height: 26px;
	text-align: center;
	font-size: 22px;
	color: #000000;
	font-family: europa, sans-serif;
	font-weight: 700;
	left: 538px;
	margin-top: 548px;
	position: relative;
}

#u11971-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 155px;
	margin: 548px 0px 0px;
}

#u11971-4:hover p
{
	color: #FF0000;
	visibility: inherit;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u11885-bw
{
	z-index: 2;
	min-height: 4025.9px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

