.version.you_are /* version checker */
{
	color: #0000E4;
	background-color: #5AD822;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -35px;
	width: 0.01px;/* should not cover content below */
}

#pslideshowu12149
{
	width: 0.01px;
	margin-left: -100px;
}

#slideshowu12149
{
	z-index: 7;
	width: 0.01px;
	height: 1271px;
	position: relative;
	margin-right: -10000px;
}

#u12159
{
	position: absolute;
	width: 1160px;
	height: 1271px;
	background-color: transparent;
}

#u12159popup
{
	z-index: 8;
}

#u12160
{
	z-index: 9;
	width: 1160px;
	height: 1271px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-right: -10000px;
	position: relative;
}

#u12210
{
	z-index: 11;
	width: 1160px;
	height: 1271px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-right: -10000px;
	position: relative;
}

#u12237
{
	z-index: 13;
	width: 1160px;
	height: 1271px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-right: -10000px;
	position: relative;
}

#u12262
{
	z-index: 15;
	width: 1160px;
	height: 1271px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-right: -10000px;
	position: relative;
}

#u12289
{
	z-index: 17;
	width: 1160px;
	height: 1271px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-right: -10000px;
	position: relative;
}

#u12316
{
	z-index: 19;
	width: 1160px;
	height: 1271px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-right: -10000px;
	position: relative;
}

#u12341
{
	z-index: 21;
	width: 1160px;
	height: 1271px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-right: -10000px;
	position: relative;
}

#u12368
{
	z-index: 23;
	width: 1160px;
	height: 1271px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-right: -10000px;
	position: relative;
}

#u12395
{
	z-index: 25;
	width: 1160px;
	height: 1271px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-right: -10000px;
	position: relative;
}

#u12422
{
	z-index: 27;
	width: 1160px;
	height: 1271px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-right: -10000px;
	position: relative;
}

#u12476
{
	z-index: 29;
	width: 1160px;
	height: 1271px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#sue
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 630px;
}

#u5117-4
{
	z-index: 55;
	width: 2019px;
	min-height: 134px;
	background-color: transparent;
	text-align: right;
	font-size: 150px;
	line-height: 180px;
	color: #FFFF00;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	left: -634px;
	top: -877px;
	margin-bottom: -180px;
	position: relative;
}

#u10885
{
	z-index: 111;
	width: 196px;
	background-color: transparent;
	margin-left: 446px;
	top: -596px;
	margin-bottom: -240px;
	position: relative;
}

#u9404
{
	z-index: 119;
	width: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 534px;
	top: -333px;
	margin-bottom: -268px;
	position: relative;
}

#u9405
{
	z-index: 122;
	width: 15px;
	height: 15px;
	background-color: #FFFF00;
	border-radius: 20px;
	position: relative;
}

#u9407
{
	z-index: 121;
	width: 15px;
	height: 15px;
	background-color: #FFFF00;
	border-radius: 20px;
	margin-top: 70px;
	position: relative;
}

#u9406
{
	z-index: 120;
	width: 15px;
	height: 15px;
	background-color: #FFFF00;
	border-radius: 20px;
	margin-top: 69px;
	position: relative;
}

#u9408
{
	z-index: 123;
	width: 15px;
	height: 15px;
	background-color: #FFFF00;
	border-radius: 20px;
	margin-top: 69px;
	position: relative;
}

#u10817
{
	z-index: 213;
	width: 476px;
	background-color: transparent;
	position: fixed;
	top: 1236px;
	left: -634px;
}

#pu9443
{
	width: 0.01px;
	margin-left: -753px;
}

#u9443
{
	z-index: 2;
	min-height: 11000px;
	background-color: #00AEEF;
}

#u9443_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 182px;
	padding-bottom: 188px;
}

#u10863-10
{
	z-index: 101;
	width: 1094px;
	min-height: 290px;
	background-color: transparent;
	text-align: center;
	font-size: 40px;
	line-height: 48px;
	color: #FCEE21;
	font-family: europa, sans-serif;
	font-weight: 400;
	font-style: italic;
	left: 46px;
	position: relative;
}

#pu5138
{
	width: 0.01px;
	left: 232px;
	margin-top: 181px;
	position: relative;
}

#u5138
{
	z-index: 59;
	width: 151px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5078-4
{
	z-index: 31;
	width: 346px;
	min-height: 105px;
	background-color: transparent;
	text-align: center;
	font-size: 80px;
	line-height: 96px;
	color: #FFFFFF;
	font-family: europa, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 246px;
}

#pu5143
{
	width: 0.01px;
	left: 120px;
	margin-top: 1367px;
	position: relative;
}

#u5143
{
	z-index: 61;
	width: 151px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5079-4
{
	z-index: 35;
	width: 562px;
	min-height: 105px;
	background-color: transparent;
	text-align: left;
	font-size: 80px;
	line-height: 96px;
	color: #FFFFFF;
	font-family: europa, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 217px;
}

#pu5146
{
	width: 0.01px;
	left: 120px;
	margin-top: 1416px;
	position: relative;
}

#u5146
{
	z-index: 63;
	width: 151px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5081-4
{
	z-index: 39;
	width: 626px;
	min-height: 105px;
	background-color: transparent;
	text-align: left;
	font-size: 80px;
	line-height: 96px;
	color: #FFFFFF;
	font-family: europa, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 217px;
}

#pu5149
{
	width: 0.01px;
	left: 120px;
	margin-top: 1406px;
	position: relative;
}

#u5149
{
	z-index: 65;
	width: 151px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5085-4
{
	z-index: 43;
	width: 584px;
	min-height: 105px;
	background-color: transparent;
	text-align: left;
	font-size: 80px;
	line-height: 96px;
	color: #FFFFFF;
	font-family: europa, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 215px;
}

#u5086-4
{
	z-index: 47;
	width: 544px;
	min-height: 224px;
	background-color: transparent;
	text-align: left;
	font-size: 80px;
	line-height: 96px;
	color: #FFFFFF;
	font-family: europa, sans-serif;
	font-weight: 400;
	font-style: italic;
	left: 436px;
	margin-top: 1378px;
	position: relative;
}

#u5116-4
{
	z-index: 51;
	width: 637px;
	min-height: 105px;
	background-color: transparent;
	text-align: left;
	font-size: 80px;
	line-height: 96px;
	color: #FFFFFF;
	font-family: europa, sans-serif;
	font-weight: 400;
	font-style: italic;
	left: 305px;
	margin-top: 1337px;
	position: relative;
}

#u10844
{
	z-index: 124;
	width: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	left: 595px;
	margin-top: 1568px;
	position: relative;
}

#u10846
{
	z-index: 127;
	width: 15px;
	height: 15px;
	background-color: #FCEE21;
	border-radius: 20px;
	position: relative;
}

#u10845
{
	z-index: 126;
	width: 15px;
	height: 15px;
	background-color: #FCEE21;
	border-radius: 20px;
	margin-top: 70px;
	position: relative;
}

#u10847
{
	z-index: 125;
	width: 15px;
	height: 15px;
	background-color: #FCEE21;
	border-radius: 20px;
	margin-top: 69px;
	position: relative;
}

#u10848
{
	z-index: 128;
	width: 15px;
	height: 15px;
	background-color: #FCEE21;
	border-radius: 20px;
	margin-top: 69px;
	position: relative;
}

#u10260-4
{
	z-index: 3;
	width: 155px;
	min-height: 33px;
	background-color: transparent;
	line-height: 26px;
	text-align: center;
	font-size: 22px;
	color: #FCEE21;
	font-family: europa, sans-serif;
	font-weight: 700;
	left: 517px;
	margin-top: 320px;
	position: relative;
}

#u10260-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 155px;
	margin: 320px 0px 0px;
}

#u10260-4:hover p
{
	color: #FCEE21;
	visibility: inherit;
}

#u5487-4
{
	z-index: 71;
	width: 155px;
	min-height: 30px;
	background-color: transparent;
	line-height: 26px;
	text-align: center;
	font-size: 22px;
	color: #FCEE21;
	font-family: europa, sans-serif;
	font-weight: 700;
	left: 517px;
	margin-top: 65px;
	position: relative;
}

#u5487-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 155px;
	margin: 65px 0px 0px;
}

#u5487-4:hover p
{
	color: #FF0000;
	visibility: inherit;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u9443-bw
{
	z-index: 2;
	min-height: 11000px;
}

#u6555
{
	z-index: 75;
	width: 1175px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2462px;
	left: 1270px;
}

#u9545
{
	z-index: 77;
	width: 1275px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 908px;
	left: 5px;
}

#u9545_img
{
	padding-top: 4px;
	padding-right: 1px;
	padding-bottom: 2px;
}

#u9990
{
	z-index: 79;
	width: 1275px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4012px;
	left: 3px;
}

#u10002
{
	z-index: 81;
	width: 1275px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5559px;
	left: 1277px;
}

#u10002_img
{
	margin-left: -7px;
	margin-right: -7px;
}

#u10014
{
	z-index: 83;
	width: 1275px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8657px;
}

#u10014_img
{
	margin-left: -19px;
	margin-top: -15px;
	margin-bottom: -14px;
}

#u10021
{
	z-index: 85;
	width: 1275px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7109px;
}

#u10021_img
{
	margin-left: -7px;
	margin-top: -3px;
	margin-right: -8px;
}

#u10030
{
	z-index: 87;
	width: 1287px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 910px;
	left: 1280px;
}

#u10072
{
	z-index: 93;
	width: 1275px;
	background-color: transparent;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u10072_img
{
	margin-top: -3px;
	margin-bottom: 10px;
}

#u9825
{
	z-index: 131;
	width: 1275px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FCEE21;
	padding-bottom: 716px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#u9825:hover
{
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	width: 1275px;
	min-height: 0px;
	margin: -1px -10000px -3px 0px;
}

#u10250-7
{
	z-index: 191;
	width: 474px;
	min-height: 323px;
	background-color: transparent;
	text-align: left;
	font-size: 80px;
	line-height: 96px;
	color: #000000;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 668px;
}

#u10033
{
	z-index: 88;
	width: 1275px;
	background-color: transparent;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2465px;
	left: 61px;
}

#u10063
{
	z-index: 91;
	width: 1275px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -57px;
}

#u10063_img
{
	margin-right: -18px;
	margin-bottom: -273px;
}

#u10110
{
	z-index: 132;
	width: 1275px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 435px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -57px;
}

#u10110:hover
{
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	width: 1275px;
	min-height: 0px;
	margin: -3px -10000px 0px 0px;
}

#u10213-6
{
	z-index: 164;
	width: 668px;
	min-height: 688px;
	background-color: transparent;
	text-align: right;
	font-size: 80px;
	line-height: 96px;
	color: #FF0000;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 548px;
}

#u10054
{
	z-index: 89;
	width: 1275px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7106px;
	left: 1278px;
}

#u10054_img
{
	margin-right: -40px;
	margin-bottom: -40px;
}

#u10081
{
	z-index: 95;
	width: 1275px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5559px;
	left: 3px;
}

#u10081_img
{
	margin: 14px 86px -12px 43px;
}

#u10099
{
	z-index: 97;
	width: 1275px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4012px;
	left: 1280px;
}

#u10099_img
{
	margin-left: -7px;
	margin-right: -7px;
	margin-bottom: 1px;
}

#u10730
{
	z-index: 99;
	width: 1275px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8657px;
	left: 1276px;
}

#u12143
{
	z-index: 114;
	width: 82px;
	vertical-align: top;
	position: fixed;
	top: 1347px;
	left: -116px;
}

#u12143_states
{
	float: left;
	width: 82px;
	height: 180px;
	background: transparent url("../images/u12143_states.png") no-repeat 0px 0px;
}

#u12143:hover #u12143_states
{
	background: transparent url("../images/u12143_states-r.png") no-repeat 0px 0px;
}

#u12144
{
	z-index: 117;
	width: 82px;
	vertical-align: top;
	position: fixed;
	top: 1647px;
	left: 1060px;
}

#u12144_states
{
	float: left;
	width: 82px;
	height: 180px;
	background: transparent url("../images/u12144_states.png") no-repeat 0px 0px;
}

#u12144:hover #u12144_states
{
	background: transparent url("../images/u12144_states-r.png") no-repeat 0px 0px;
}

#u9824
{
	z-index: 130;
	width: 1275px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 159px;
	position: relative;
	margin-right: -10000px;
	margin-top: 908px;
	left: 3px;
}

#u9824:hover
{
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	width: 1275px;
	min-height: 0px;
	margin: 908px -10000px 0px 0px;
}

#u10241-7
{
	z-index: 184;
	width: 474px;
	min-height: 323px;
	background-color: transparent;
	text-align: left;
	font-size: 80px;
	line-height: 96px;
	color: #FF0000;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 204px;
	left: 142px;
}

#u13968
{
	z-index: 247;
	width: 186px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 641px;
	left: 379px;
}

#u12122
{
	z-index: 133;
	width: 1275px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 221px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4012px;
	left: 3px;
}

#u10150-4
{
	z-index: 142;
	width: 588px;
	min-height: 411px;
	background-color: transparent;
	text-align: left;
	font-size: 80px;
	line-height: 96px;
	color: #FF0000;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 162px;
}

#u13334
{
	z-index: 243;
	width: 186px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 580px;
	left: 623px;
}

#u12125
{
	z-index: 134;
	width: 1275px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 493px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5555px;
}

#u12125:hover
{
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	width: 1275px;
	min-height: 0px;
	margin: 5555px -10000px 0px 0px;
}

#u10771-4
{
	z-index: 209;
	width: 924px;
	min-height: 411px;
	background-color: transparent;
	text-align: left;
	font-size: 80px;
	line-height: 96px;
	color: #FF0000;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 187px;
	left: 165px;
}

#u12131
{
	z-index: 135;
	width: 1275px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 337px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7106px;
}

#u10170-12
{
	z-index: 146;
	width: 814px;
	min-height: 321px;
	background-color: transparent;
	text-align: left;
	color: #FF0000;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 187px;
	left: 151px;
}

#u10170-3
{
	color: #FFFFFF;
}

#u10170-2,#u10170-4,#u10170-6,#u10170-7,#u10170-9
{
	font-size: 80px;
	line-height: 96px;
}

#u10170-10
{
	font-size: 50px;
	line-height: 60px;
}

#u12140
{
	z-index: 136;
	width: 1275px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 352px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8657px;
}

#u10190-6
{
	z-index: 158;
	width: 540px;
	min-height: 321px;
	background-color: transparent;
	text-align: right;
	font-size: 80px;
	line-height: 96px;
	color: #FF0000;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
	left: 653px;
}

#u13360
{
	z-index: 235;
	width: 172px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 475px;
	left: 837px;
}

#u10111
{
	z-index: 137;
	width: 1275px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FCEE21;
	padding-bottom: 324px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2457px;
	left: 1279px;
}

#u10111:hover
{
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	width: 1275px;
	min-height: 0px;
	margin: 2457px -10000px 0px 0px;
}

#u10253-7
{
	z-index: 198;
	width: 474px;
	min-height: 323px;
	background-color: transparent;
	text-align: left;
	font-size: 80px;
	line-height: 96px;
	color: #000000;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 361px;
	left: 59px;
}

#u12119
{
	z-index: 138;
	width: 1275px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FCEE21;
	padding-bottom: 627px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4012px;
	left: 1278px;
}

#u12122:hover,#u12119:hover
{
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	width: 1275px;
	min-height: 0px;
	margin: 4012px -10000px 0px 0px;
}

#u10256-4
{
	z-index: 205;
	width: 474px;
	min-height: 323px;
	background-color: transparent;
	text-align: right;
	font-size: 80px;
	line-height: 96px;
	color: #000000;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 569px;
}

#u12128
{
	z-index: 139;
	width: 1275px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FCEE21;
	padding-bottom: 209px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5559px;
	left: 1276px;
}

#u12128:hover
{
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	width: 1275px;
	min-height: 0px;
	margin: 5559px -10000px 0px 0px;
}

#u10226-6
{
	z-index: 170;
	width: 543px;
	min-height: 267px;
	background-color: transparent;
	text-align: right;
	font-size: 80px;
	line-height: 96px;
	color: #000000;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 264px;
	left: 295px;
}

#u13353
{
	z-index: 227;
	width: 144px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 673px;
	left: 364px;
}

#u12134
{
	z-index: 140;
	width: 1275px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FCEE21;
	padding-bottom: 112px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7106px;
	left: 1276px;
}

#u12131:hover,#u12134:hover
{
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	width: 1275px;
	min-height: 0px;
	margin: 7106px -10000px 0px 0px;
}

#u10235-4
{
	z-index: 180;
	width: 901px;
	min-height: 321px;
	background-color: transparent;
	text-align: right;
	font-size: 80px;
	line-height: 96px;
	color: #000000;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 610px;
	left: 240px;
}

#u13381
{
	z-index: 231;
	width: 144px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 770px;
	left: 392px;
}

#u12137
{
	z-index: 141;
	width: 1275px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FCEE21;
	padding-bottom: 163px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8657px;
	left: 1276px;
}

#u12140:hover,#u12137:hover
{
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	width: 1275px;
	min-height: 0px;
	margin: 8657px -10000px 0px 0px;
}

#u10229-4
{
	z-index: 176;
	width: 420px;
	min-height: 411px;
	background-color: transparent;
	text-align: right;
	font-size: 80px;
	line-height: 96px;
	color: #000000;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 586px;
	left: 154px;
}

#pu5152
{
	width: 0.01px;
	padding-bottom: 9742px;
	margin-left: -617px;
	margin-top: -11000px;
}

#u5152
{
	z-index: 67;
	width: 151px;
	background-color: transparent;
	position: fixed;
	top: 9637px;
	left: 25px;
}

#u5155
{
	z-index: 69;
	width: 151px;
	background-color: transparent;
	position: fixed;
	top: 8073px;
	left: 13px;
}

#u10819-4
{
	z-index: 215;
	width: 427px;
	min-height: 92px;
	background-color: transparent;
	text-align: center;
	font-size: 80px;
	line-height: 96px;
	color: #FFFFFF;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: fixed;
	top: 1251px;
	left: -617px;
}

#u10827
{
	z-index: 219;
	width: 476px;
	background-color: transparent;
	position: fixed;
	top: 1236px;
	left: 1179px;
}

#u10829-4
{
	z-index: 221;
	width: 427px;
	min-height: 92px;
	background-color: transparent;
	text-align: center;
	font-size: 80px;
	line-height: 96px;
	color: #FFFFFF;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: fixed;
	top: 1251px;
	left: 1197px;
}

#u13318
{
	z-index: 225;
	width: 144px;
	background-color: transparent;
	position: fixed;
	top: 5707px;
	left: 1259px;
}

#u13367
{
	z-index: 229;
	width: 144px;
	background-color: transparent;
	position: fixed;
	top: 10700px;
	left: 1017px;
}

#u13320
{
	z-index: 233;
	width: 172px;
	background-color: transparent;
	position: fixed;
	top: 7507px;
	left: -141px;
}

#u13374
{
	z-index: 237;
	width: 172px;
	background-color: transparent;
	position: fixed;
	top: 8847px;
	left: 170px;
}

#u13332
{
	z-index: 239;
	width: 197px;
	background-color: transparent;
	position: fixed;
	top: 2508px;
	left: 1583px;
}

#u13346
{
	z-index: 241;
	width: 197px;
	background-color: transparent;
	position: fixed;
	top: 4354px;
	left: 940px;
}

#u13961
{
	z-index: 245;
	width: 186px;
	background-color: transparent;
	position: fixed;
	top: 4273px;
	left: -186px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

