.version.be_safe /* version checker */
{
	color: #0000FF;
	background-color: #4DB93A;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.650000000001px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content,#pslideshowu14077
{
	width: 0.01px;/* should not cover content below */
}

#slideshowu14077
{
	z-index: 4;
	width: 0.01px;
	height: 621px;
	position: relative;
	margin-right: -10000px;
}

#u14108
{
	position: absolute;
	width: 380px;
	height: 621px;
	background-color: transparent;
}

#u14108popup
{
	z-index: 5;
}

#u14115
{
	z-index: 6;
	width: 380px;
	height: 621px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u14121
{
	z-index: 8;
	width: 380px;
	height: 621px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u14117
{
	z-index: 10;
	width: 380px;
	height: 621px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u14111
{
	z-index: 12;
	width: 380px;
	height: 621px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u14119
{
	z-index: 14;
	width: 380px;
	height: 621px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u14113
{
	z-index: 16;
	width: 380px;
	height: 621px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u14109
{
	z-index: 18;
	width: 380px;
	height: 621px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#better
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 184px;
}

#u6541-4
{
	z-index: 54;
	width: 339px;
	min-height: 99px;
	background-color: transparent;
	line-height: 72px;
	text-align: center;
	font-size: 60px;
	color: #FF0000;
	font-family: europa, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 125px;
	left: 20px;
}

#u6541-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 99px;
	width: 339px;
	margin: 0px;
}

#u6541-4:hover p
{
	color: #FF0000;
	visibility: inherit;
}

#u14479
{
	z-index: 92;
	width: 8px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 198px;
	top: -242px;
	margin-bottom: -114px;
	position: relative;
}

#u14480
{
	z-index: 93;
	width: 8px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u14481
{
	z-index: 94;
	width: 8px;
	height: 8px;
	background-color: #FCEE21;
	border-radius: 20px;
	position: relative;
}

#u14482
{
	z-index: 95;
	width: 8px;
	height: 8px;
	background-color: #FCEE21;
	border-radius: 20px;
	margin-top: 44px;
	position: relative;
}

#u14483
{
	z-index: 96;
	width: 8px;
	height: 8px;
	background-color: #FCEE21;
	border-radius: 20px;
	margin-top: 46px;
	position: relative;
}

#u14248
{
	z-index: 77;
	width: 91px;
	background-color: transparent;
	position: fixed;
	top: 513px;
	left: 168px;
}

#u6490
{
	z-index: 2;
	width: 380px;
	height: 623px;
	background-color: #000000;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
}

#u6511-4
{
	z-index: 21;
	width: 271px;
	min-height: 58px;
	background-color: transparent;
	text-align: center;
	font-size: 22px;
	line-height: 26px;
	color: #FFFFFF;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 69px;
}

#u6513
{
	z-index: 32;
	width: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 447px;
	left: 161px;
}

#u6756
{
	z-index: 58;
	width: 8px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 280px;
	left: 204px;
}

#u6757
{
	z-index: 59;
	width: 8px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6759
{
	z-index: 60;
	width: 8px;
	height: 8px;
	background-color: #FFFF00;
	border-radius: 20px;
	position: relative;
}

#u6758
{
	z-index: 61;
	width: 8px;
	height: 8px;
	background-color: #FFFF00;
	border-radius: 20px;
	margin-top: 44px;
	position: relative;
}

#u6760
{
	z-index: 62;
	width: 8px;
	height: 8px;
	background-color: #FFFF00;
	border-radius: 20px;
	margin-top: 46px;
	position: relative;
}

#u14240
{
	z-index: 75;
	width: 52px;
	background-color: transparent;
	position: fixed;
	top: 1128px;
	left: 190px;
}

#u14230
{
	z-index: 20;
	height: 621px;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	background: #FFFFFF url("../../images/img_7388.jpg") no-repeat left center;
	background-size: cover;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u14230-bw
{
	z-index: 20;
	margin-top: 1px;
	height: 621px;
}

#pu6490,#pu6494
{
	width: 0.01px;
	margin-top: -1px;
}

#u6494
{
	z-index: 3;
	height: 2073px;
	background-color: #000000;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}

#u6494-bw
{
	z-index: 3;
	height: 2073px;
}

#u6512-7
{
	z-index: 25;
	width: 309px;
	min-height: 273px;
	background-color: transparent;
	text-align: center;
	color: #FCEE21;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 195px;
	left: 41px;
}

#u6512-2,#u6512-3
{
	font-size: 22px;
	line-height: 26px;
}

#u6512-5
{
	font-size: 12px;
	line-height: 14px;
}

#u6522-6
{
	z-index: 34;
	width: 383px;
	min-height: 66px;
	background-color: transparent;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 612px;
}

#u6523-4
{
	z-index: 40;
	width: 330px;
	min-height: 38px;
	background-color: transparent;
	text-align: left;
	font-size: 22px;
	line-height: 26px;
	color: #FF0000;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 822px;
	left: 36px;
}

#u6523-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 330px;
	margin: 822px -10000px 0px 0px;
}

#u6524-4
{
	z-index: 44;
	width: 221px;
	min-height: 39px;
	background-color: transparent;
	text-align: left;
	font-size: 22px;
	line-height: 26px;
	color: #FF0000;
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 740px;
	left: 99px;
}

#u6524-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 221px;
	margin: 740px -10000px 0px 0px;
}

#u6523-4:hover p,#u6524-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u6531
{
	z-index: 49;
	width: 155px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1880px;
	left: 135px;
}

#u6531_states
{
	float: left;
	width: 155px;
	height: 33px;
	background: transparent url("../../images/u6531_states.png") no-repeat 0px 0px;
}

#u6531:hover #u6531_states
{
	background: transparent url("../../images/u6531_states-r.png") no-repeat 0px 0px;
}

#u6532
{
	z-index: 52;
	width: 155px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1980px;
	left: 135px;
}

#u6532_states
{
	float: left;
	width: 155px;
	height: 30px;
	background: transparent url("../../images/u6532_states.png") no-repeat 0px 0px;
}

#u6532:hover #u6532_states
{
	background: transparent url("../../images/u6532_states-r.png") no-repeat 0px 0px;
}

#u6771-4
{
	z-index: 63;
	width: 243px;
	min-height: 34px;
	background-color: transparent;
	line-height: 26px;
	text-align: center;
	font-size: 22px;
	color: #FCEE21;
	font-family: europa, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1313px;
	left: 88px;
}

.js #u6541-4.ose_pre_init,.js #u6511-4.ose_pre_init,.js #u6512-7.ose_pre_init,.js #u6522-6.ose_pre_init,.js #u6523-4.ose_pre_init,.js #u6524-4.ose_pre_init,.js #u6771-4.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u6773
{
	z-index: 67;
	width: 8px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1117px;
	left: 205px;
}

#u6774
{
	z-index: 68;
	width: 8px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6776
{
	z-index: 69;
	width: 8px;
	height: 8px;
	background-color: #FCEE21;
	border-radius: 20px;
	position: relative;
}

#u6775
{
	z-index: 70;
	width: 8px;
	height: 8px;
	background-color: #FCEE21;
	border-radius: 20px;
	margin-top: 44px;
	position: relative;
}

#u6777
{
	z-index: 71;
	width: 8px;
	height: 8px;
	background-color: #FCEE21;
	border-radius: 20px;
	margin-top: 46px;
	position: relative;
}

#u6778
{
	z-index: 72;
	width: 127px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1564px;
	left: 149px;
}

#u14255
{
	z-index: 80;
	width: 82px;
	vertical-align: top;
	position: fixed;
	top: 2016px;
	left: 0px;
}

#u14255_states
{
	float: left;
	width: 82px;
	height: 120px;
	background: transparent url("../../images/u14255_states.png") no-repeat 0px 0px;
}

#u14255:hover #u14255_states
{
	background: transparent url("../../images/u14255_states-r.png") no-repeat 0px 0px;
}

#u14256
{
	z-index: 83;
	width: 82px;
	vertical-align: top;
	position: fixed;
	top: 2251px;
	left: 298px;
}

#u14256_states
{
	float: left;
	width: 82px;
	height: 120px;
	background: transparent url("../../images/u14256_states.png") no-repeat 0px 0px;
}

#u14256:hover #u14256_states
{
	background: transparent url("../../images/u14256_states-r.png") no-repeat 0px 0px;
}

#u14261
{
	z-index: 85;
	width: 8px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 209px;
}

#u14263
{
	z-index: 86;
	width: 8px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u14265
{
	z-index: 87;
	width: 8px;
	height: 8px;
	background-color: #FFFF00;
	border-radius: 20px;
	position: relative;
}

#u14264
{
	z-index: 88;
	width: 8px;
	height: 8px;
	background-color: #FFFF00;
	border-radius: 20px;
	margin-top: 44px;
	position: relative;
}

#u14262
{
	z-index: 89;
	width: 8px;
	height: 8px;
	background-color: #FFFF00;
	border-radius: 20px;
	margin-top: 46px;
	position: relative;
}

#u14276
{
	z-index: 90;
	width: 59px;
	background-color: transparent;
	position: fixed;
	top: 2789px;
	left: 180px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

